@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    /* font-family: sans-serif; */
    box-sizing: border-box;
}

:root{
    --color-primary: #b41eb9;
    --color-white: #f1f1f1;
    --bg-color: #2b2a29;    
    --pure-white: #fff;
    --hover-color: #3b043b;
    --course-color: #fae1fa;
    --light: #F0FBFC;
    --text-color: #697a8d;
    --active-color: #71dd37;
}
body{
    background: var(--color-white);
}

.container{
    width: 100%;
    position: relative;
    display: flex;
    gap: 30px;
}
.container .sidebar{
    position: fixed;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--pure-white);
    padding: 1rem;
    z-index: 100;
}
.sidebar .logo{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2{
    font-size: 20px;
    color: var(--color-primary);
    font-style: italic;
}
.container .main_content{
    /* background: var(--color-primary); */
    height: 100vh;
    position: absolute;
    right: 0;
    width: 80%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main_content nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--pure-white);
    height: 4rem;
    padding: 0 2rem;
    border-radius: 5px;
    color: #2b2a29;
}
nav .userInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px;
}
nav .userInfo p{
    font-size: 14px;
    color: var(--color-primary);
}
.online{
    position: relative;
}
.online:after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid var(--pure-white);
    border-radius: 50%;
    background: var(--active-color);
    position: absolute;
    bottom: 2px;
    right: 3px;
}
nav .userInfo img{
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}
nav .search_box{
    width: 200px;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
}
.search_box i{
    color: var(--text-color);
}
.search_box input{
    width: 180px;
    height: 2rem;
    background: transparent;
    border: 0;
    outline: 0;
}
input::placeholder{
    color: #ccc;
    padding-left: 5px;
}
.settings_menu{
    width: 180px;
    background: var(--pure-white);
    height: 250px;
    border-radius: 10px;
    position: absolute;
    right: 60px;
    top: 14%;
    display: none;
    z-index: 100;
    box-shadow: 0 0 20px rgba(146, 142, 142, 0.2);
    transition: display .5s ease;
}
.settings_menu .profile{
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.settings_menu .profile img{
    width: 40px;
    border-radius: 100%;
}
.settings_menu .profile p{
    margin-left: 5px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
}
.settings_menu .other_links{
    height: 120px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    position: relative;
}
.settings_menu .other_links a i,
.settings_menu .log_out a i{
    margin-right: 5px;
}
.settings_menu .other_links a,
.settings_menu .log_out a{
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 3rem;
}
.settings_menu .other_links a:hover,
.settings_menu .log_out a:hover{
    background: #ccc;
    color: var(--pure-white);
}
.settings_menu .other_links span{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    color: var(--pure-white);
}
.settings_menu .log_out{
    height: 50px;
    display: flex;
    align-items: center;
}
.settings_menu .log_out a:hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.intro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 70px;
    margin-top: 30px;
}
.intro h4{
    font-size: 23px;
    font-weight: 500;
    color: var(--text-color);
}
.intro h4 span{
    font-weight: bold;
}
.menuList{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.menuList ul{
    display: flex;
}
.menuList ul li{
    list-style: none;
    text-transform: capitalize;
}
.menuList ul li a{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 20px;
    border: 1px solid var(--color-primary);
    width: 150px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--pure-white);
    font-size: 14px;
    /* font-weight: 600; */
}
.card{
    width: 100%;
    background: var(--pure-white);
    /* height: 100vh; */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.profile_details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile_details h4,
.deactivate h4{
    font-size: 17px;
    font-weight: 600;
    color: var(--text-color);
}
.profile_details .profile_settings{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 20px;
}
.profile_settings img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.profile_settings form{
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 15px;
}
.profile_settings_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}
.profile_settings_form p{
    font-size: 14px;
    color: var(--text-color);
}
.profile_settings form label{
    width: 200px;
    padding: 10px 12px;
    font-size: 14px;
    background: var(--color-primary);
    border-radius: 10px;
    color: var(--pure-white);
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
#input_field{
    display: none;
}
.profile_settings form input{
    margin: 0;
    width: 80px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: transparent;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.profile_settings form input:hover{
    color: var(--color-white);
    background: var(--hover-color);
}

.personal_info{
    padding: 20px;
}
.personal_info .information{
    display: flex;
    flex-direction: column;
}
.information label{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}
.information input,
.information select{
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    outline: none;
}
.information select{
    color: var(--text-color);
}
.personal_info form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.personal_info form .submit{
    display: flex;
    gap: 15px;
}
.personal_info form .submit input{
    width: 150px;
    background: var(--color-primary);
    padding: 10px;
    color: var(--pure-white);
    border: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}
.personal_info form .submit input:nth-child(2){
    background: transparent;
    border: 2px solid #ccc;
    color: var(--text-color);
    width: 120px;
}
.deactivate{
    width: 100%;
    background: var(--pure-white);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.deactivate .mark{
    width: 100%;
    margin: 20px 10px 10px;
    padding: 10px;
    background: #ffafaf63;
    border-radius: 10px;
    color: #ffab00;
    font-size: 14px;
}
.deactivate .mark p:nth-child(1){
    font-weight: bold;
}
.deactivate form .checked span{
    font-size: 14px;
    color: var(--text-color);
}
.deactivate form button{
    width: 200px;
    padding: 10px;
    background: #ff3e1d;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 10p 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}
.deactivate form button a{
    text-decoration: none;
    color: var(--pure-white);
    font-size: 13px;
}
footer{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright span{
    font-size: 14px;
    color: var(--text-color);
}
footer .copyright span a{
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}
footer .copyright_links{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright_links a{
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
}